.aside-container {
  background: linear-gradient(112deg, rgba(169,134,207,1) 47%, rgba(186,34,216,0.08004879879879878) 87%);
  height: 88vh;
  position: sticky;
  top: 106px;
  width: 6%;
  transition: all 1s ease;
  @media (max-width: 1000px) {
    width: 8%;
  }

}

aside {
  // width: 90px;
  text-align: center;
  padding-top: 90px;

  #aside_menu_fixed {
    transition: all 1s ease;

  div {
    a {
      text-decoration: none;
      i {
        font-size: 30px;
        color: $main-menu-color;
        margin: 20px 0 10px 0;
      }
      p {

        max-width: 100px;
        margin: 0 auto;
        font-weight: 500;
        // color: #40307a;
        color: #946dc2;
        opacity: 0;
        transition: opacity 1s ease;

      }
    }

    &:hover {
      i {
        color: #fff;
      }
      p {color: $aside-hover-text-color}

      background: $aside-hover-color;
    }
  } ///*****************
  .icon_block {
    width: 55px;
    margin: 0 auto;
    position: relative;
      div {
        width: 23px;
        height: 23px;
        line-height: 23px;
        background: #e34834;
        position: absolute;
        top: 5px;
        right: 0;
        border-radius: 50%;
        color: #fff;
      }
      div:empty {
        display: none;
      }

  }
}
  .hide_menu {
    position: absolute;
    right: -30px;
    top: 300px;
    // bottom: 450px;
    width: 40px;
    height: 60px;
    line-height: 60px;
    border-radius: 00% 90% 90% 0%;
    background: #9785d4;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 18px;
    }
    &:hover {
      background: #a796e0;
      -webkit-box-shadow: 1px 0px 14px 4px rgba(115, 96, 178, 1);
      -moz-box-shadow: 1px 0px 14px 4px rgba(115, 96, 178, 1);
      box-shadow: 1px 0px 14px 4px rgba(115, 96, 178, 1);

    }
  }

}
.show_more {
  width: 10%;
  @media (max-width: 930px) {
    width: 15%;
  }
  #aside_menu_fixed {
    p {
      opacity: 100;
    }
  }
}

.active {
  background-color: $aside-hover-color;
  i {color: #fff}
  p{color: $aside-hover-text-color}
}
