.comment_form {
  position: relative;
  height: 468px;
  width: 370px;
  background: $set_task_form_bg;
  @extend %borders;
  padding: 20px;
  margin-left: 20px;
  @media (max-width: 1105px) {
    width: 320px;
  }
  .comments_part {
    overflow-y: scroll;
    height: 350px;
    background-color: $set_task_input_color;
    padding: 10px;
    .comment {
      width: 250px;
      background-color: $comment_color;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 15px;
      .user_author {
        font-style: italic;
        font-weight: bold;
        color: #495878;
        margin-bottom: 10px;
      }
      .comment_text {
        color: $main_text_color;
      }
    }
  }
  .add_comment {
    margin-top: 10px;
    .add_comment_form {
      display: flex;
      align-items: center;
      justify-content: space-between;
       textarea {
         width: 240px;
         height: 65px;
         resize: none;
         color: $main_text_color;
         @extend %borders;
         border-radius: 5px;
         padding: 10px;
       }
       .add_comment_btn {
         @extend %btn;
       }
    }

  }
}
