.my_tasks_part {
  @extend %task;
  @extend %task_media;
  padding: 40px 40px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  justify-content: flex-start;



  #done_btn {
    // margin-left: 65%;
    i {font-size: 30px}
  }
}
.buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  .button_start {
    color: #fff;
    background: silver;
    background: $asigned_task_icons_color;
    padding: 2px 10px;
    &:hover {
      background: $btn_color;
    }
  }
  #done_btn{
    margin-right: 0px; 
  }
}
.new_task {
  background: #f2f7ff!important;
}
