
  .user_card {
    margin: 30px;
    border: 1px solid #d8dce3;
    border-radius: 10px;
    width: 450px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    background: #f5f7fa;

    .user_card__main_info {
      text-align: center;
      width: 150px;
      .user_card__photo {
        width: 100px;
        height: 100px;
        border: 1px solid silver;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
        background: #d5ccde;
        overflow: hidden;
      }
      .user_card__user_name {
        font-size: 16px;
        font-weight: bold;
        color: #4a4a4a;
        margin-bottom: 10px;
      }
      .user_card__tasks_statistic {
        color: #575757;

      }

    }

    .user_card__personal_info {
      margin-left: 20px;
      padding: 10px;
      font-size: 18px;
      position: relative;
      top: -15px;
      p {
        margin: 20px 0;
        color: #8f8f8f;
        margin-bottom: 0;

        i {
          color: #a598b3;
          margin-right: 15px;
        }
      }
    }
  }
