$header-text-color: #fff;
$user-logo-color: #6a81b0;
$main-menu-color: #e8dff2;
$aside-hover-color: #c9b8de;
$aside-hover-text-color: #715cbd;
$buttom_text_color: #fff;
$btn_color: #6a9ce6;
$title_color: #265194;
// $set_task_form_bg: #f0f0f0;
$set_task_form_bg: #f2f2f2;
$set_task_input_color: #fff;
$asigned_task_bg: #fcfcf0;
$asigned_task_icons_color: #adadad;
$asigned_task_text_color: #454545;
$main_text_color: #757571;
$colors: (
  light: #6bdfe3,
  normal: #75ff69,
  good: #fae55f,
  strong: #ff91c5,
  medium: #f79659,
  hard: #f76459
);
$new_class: complexity;
$comment_color: #e8efff;
$notice_bg: #e1f0d8;
$notice_text_color: #435442;
